/****Colors*****/
$productly: #173A56;
$text: #312d27;
$gray: #404040;
$bubbleShadow: #D2D2D2;
$orange: #FF9900;
$purple: #7752BE;
$red: #F03E3D;
$lightBlue: #4DADF7;
$gradient1: linear-gradient(#FFE5D2, white);
$gradient2: linear-gradient(white, #FFE5D2);
$white: white;